body{
    margin: 0px;
}

.box{
    color: #333;
    line-height: 1.6;
    max-width: 700px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 50px;
}

.box .he{
    direction:rtl;
}

.box .he #segment{
    font-size: 1.4em;
    font-weight: 500;
}

.line-number{
    color:#999;
}

.box .en #segment{
    font-size: 1.2em;
}

.box, #header{
    margin-left: auto;
    margin-right: auto;
}

#header{
    border-bottom: 1px solid #ccc;
    height: 54px;
    line-height: 54px;
    text-align: center;
}

.sefaria-svg-container{
    max-width: 102px;
    margin: auto;
    height: 54px;
    line-height: 54px;
    
}

.sefaria-svg-container .sefaria-svg{
    padding-top: 16px;    
    height: 22px;
}

.section-ref-header{
    border-left: 1px solid #ddd;
    background-color: #F9F9F7;
    text-align: center;
}

.languageToggle {
    position: absolute;
    top:0;
    right: 0;
    margin-top: 10px;
    margin-right: 9px;
    color: #ccc;
    display: block;
    width: 38px;
    height: 32px;
    border: 1px solid #ccc;
    border-radius: 4px;
    line-height: 34px;
    cursor: pointer;
}

.languageToggle img{
    opacity: .2;
    height: 18px;
    padding-top:6px;
}

.category-color-line{
    height: 6px;
    background-color: rgb(0, 78, 95);
}
.embed-ref{
    margin: 0px;
}

#footer {
    position:fixed;
    left:0px;
    bottom:0px;
    height:44px;
    width:100%;
    border-top: 1px solid #ddd;
    /*background-color: rgb(0, 78, 95);*/
    background-color:  #F9F9F7;
}

.sefaria-ico-container{
    max-width: 48px;
    margin-left: auto;
}

.sefaria-ico-container img{
    padding-top: 5px;
    height: 34px;
}



