<html>
    <head data-languageCode="{{ ob.defaultLanguageCode }}">
        {%if ob.defaultLanguageCode == "en" %}
        <title>{{ob.EnglishSectionReference}}</title>
         <meta property="og:title" content="{{ob.EnglishSectionReference}}" />
        {% endif %}
        {%if ob.defaultLanguageCode == "he" %}
        <title>{{ob.HebrewSectionReference}}</title>
         <meta property="og:title" content="{{ob.HebrewSectionReference}}" />
        {% endif %}
        <meta name="description" content="{{ob.meta_description}}" />
        <meta property="og:description" content="{{ob.meta_description}}" />

        {%if ob.defaultLanguageCode == "en" %}
        <meta property="og:image" content="/image/{{ob.EnglishSectionReference}}?lang=en" />
        {% endif %}
        {%if ob.defaultLanguageCode == "he" %}
        <meta property="og:image" content="/image/{{ob.EnglishSectionReference}}?lang=he" />
        {% endif %}

        <link rel="icon" type="image/ico" href="{{ url_for('static', filename = 'img/favicon.ico') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename = 'css/pure_base+grid.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename = 'css/embed.css') }}">
    </head>
    <body>
        <div id="header">
            <div class="pure-g">
                <div class="pure-u-1-2">
                    <div class="sefaria-svg-container">
                        <img class="sefaria-svg" src="{{ url_for('static', filename = 'img/sefaria.svg') }}" alt="Sefaria logo">
                    </div>
                </div>
                <div class="pure-u-1-2">
                    <div class="section-ref-header">
                        <div class="en" {%if ob.defaultLanguageCode == "he" %}hidden{% endif %}>{{ob.EnglishSectionReference}}</div>
                        <div class="he" {%if ob.defaultLanguageCode == "en"%}hidden{% endif %}>{{ob.HebrewSectionReference}}</div>
                    </div>
                    <div class="languageToggle">
                        <span class="en" {%if ob.defaultLanguageCode == "he"%}hidden{% endif %}><img src="{{ url_for('static', filename = 'img/aleph.svg') }}" alt="א"></span>
                        <span class="he" {%if ob.defaultLanguageCode == "en"%}hidden{% endif %}><img src="{{ url_for('static', filename = 'img/aye.svg') }}" alt="A"></span>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="box0">
            <div class="category-color-line" style="background-color: {{ob.category_color}}"></div>
            <div class="box1">
                    <div class="box">
                        <div class="en"  {%if ob.defaultLanguageCode == "he"%}hidden{% endif %}>
                            <div class="pure-g">
                            {% for elem in ob.english_data %}
                                <div class="pure-u-1-24">
                                    <p id="segment" class="line-number">
                                    {{ elem[0] }}
                                    </p>
                                </div>
                                <div class="pure-u-23-24">
                                    <p id="segment">
                                    {{ elem[1] }}
                                    </p>
                                </div>
                            {% endfor %}
                            </div> 
                        </div>
                        <div class="he"  {%if ob.defaultLanguageCode == "en"%}hidden{% endif %}>
                            <div class="pure-g">
                            {% for elem in ob.hebrew_data %}
                                <div class="pure-u-1-24">
                                    <p id="segment" class="line-number">
                                    {{ elem[0] }}
                                    </p>
                                </div>
                                <div class="pure-u-23-24">
                                    <p id="segment">
                                    {{ elem[1] }}
                                    </p>
                                </div>
                            {% endfor %}
                            </div> 
                        </div>
                    </div>
            </div>
        </div>
        <div id="footer">
            <div class="sefaria-ico-container">
                <a href="http://www.sefaria.org/{{ob.resource_name}}" target="_blank"> 
                    <img src="{{ url_for('static', filename = 'img/favicon.ico') }}" alt="בספריה">
                </a>
            </div>
        </div>
    </body>
<script type="text/javascript" src="{{ url_for('static', filename = 'javascript/embed.js') }}"></script>
    
</html>