<html>
    <head data-languageCode="{{.defaultLanguageCode}}">
        <link rel="icon" type="image/ico" href="/img/favicon.ico">
        <link rel="stylesheet" href="/css/pure_base+grid.css">
        <link rel="stylesheet" href="/css/embed.css">
    </head>
    <body>
        <div id="header">
            <div class="pure-g">
                <div class="pure-u-1-2">
                    <div class="sefaria-svg-container">
                        <img class="sefaria-svg" src="/img/sefaria.svg" alt="Sefaria logo">
                    </div>
                </div>
                <div class="pure-u-1-2">
                    <div class="section-ref-header">
                        <div class="en" {{if eq .defaultLanguageCode "he"}}hidden{{end}}>{{.secRefEnglish}}</div>
                        <div class="he" {{if eq .defaultLanguageCode "en"}}hidden{{end}}>{{.secRefHebrew}}</div>
                    </div>
                    <div class="languageToggle">
                        <span class="en" {{if eq .defaultLanguageCode "he"}}hidden{{end}}><img src="/img/aleph.svg" alt="א"></span>
                        <span class="he" {{if eq .defaultLanguageCode "en"}}hidden{{end}}><img src="/img/aye.svg" alt="A"></span>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="box0">
            <div class="category-color-line"></div>
            <div class="box1">
                    <div class="box">
                        <div class="en"  {{if eq .defaultLanguageCode "he"}}hidden{{end}}>
                            {{ range $index, $elem:= .textEnglish }}
                                <p id="segment">
                                {{ $elem }}
                                </p>
                            {{ end }}
                        </div>
                        <div class="he"  {{if eq .defaultLanguageCode "en"}}hidden{{end}}>
                            {{ range $index, $elem:= .textHebrew }}
                                <p id="segment">
                                {{ $elem }}
                                </p>
                            {{ end }}
                        </div>
                    </div>
            </div>
        </div>
        <div id="footer">
            <div class="sefaria-ico-container">
                <a href="http://www.sefaria.org/{{.originalURLPath}}" target="_blank"> 
                    <img src="/img/favicon.ico" alt="בספריה">
                </a>
            </div>
        </div>
    </body>
<script type="text/javascript" src="/javascript/embed.js"></script>
    
</html>