<link rel="icon" type="image/ico" href="/assets/img/favicon.ico">


<link rel="stylesheet" href="/assets/css/search.css">
<form id="search-form" method="post" action="/s">
    <input type="text" name="q">
    <input type="submit">
</form>